.container {
	padding-left: 60px;
	padding-right: 60px;
}

nav {
	background-color: #EDC92B;
	position: fixed;
	width: 100%;
}

nav p {
	display: inline-block;
}

nav h2 {
	line-height: 1;
	margin-bottom: 0;
}

main {
	padding-top: 150px;
	position: relativ4;
}

main .row {
  margin-bottom: 20px;
}


img {
  height: 300px;
  text-align: center;
  padding-top: 30px;

